{% extends 'base.html' %}

{% block title %}404 - Страница не найдена{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">404 - Страница не найдена</h1>
    <p class="lead">К сожалению, запрашиваемая вами страница не найдена на этом сервере.</p>
    <hr class="my-4">
    <p>Возможно, вы неправильно набрали адрес или страница была удалена или переименована.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button">Вернуться на главную страницу</a>
  </div>
{% endblock %}